body {
    display: flex;
    justify-content: center;
  }

  .container{
    height: 400px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
  }
  .item{
    height:100px;
    width: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }