.App {
  text-align: center;
  background-color: rgb(211, 207, 207);
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}
.Body{
  margin:auto;
  align-items: center;
  height:600px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Posts{
  margin-top:50px;
  height:600px;
  width:800px;
}
.form{
  margin-top:50px;
  background-color: whitesmoke;
  height:600px;
  width:600px;
}
.RightSide{
  margin-top:50px;
  background-color: whitesmoke;
  height:600px;
  width:400px;
}
h2{
  color:white;
}
