.App{
  margin-top:150px;
  align-items: center;
}
.Screen {
  margin:auto;
  display:flex;
  flex-direction: row;
  width: 900px;
  height: 400px;
}
.Bar{
  align-items: center;
  margin:auto;
  display: flex;
  width:50px;
  height: 400px;
  background-color: white;
}
.bigImg{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin:auto;
  width: 800px;
  height: 400px;
  background-repeat: none;
  background-size:100% 100%;
  /* -moz-background-size:100% 100%; */
}
.text{
  color:white;
  margin-left: 10px;
}
.blackGlass{
  background: rgba(0,0,0,0.4);
  width:800px;
  height: 100px;
}
.Navigation{
  margin:auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 400px;
  justify-content: space-between;
}
.item{
  margin:auto;
  height: 50px;
  width: 50px;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
.arrow{
  margin: 0 auto;
  display: flex;
  width: 15px;
  height: 23px;
  background-image: url('./arrow.svg');
}

.right{
  transform: scaleX(-1);
}

body{
  background-color: rgb(186, 183, 183);
}
