.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .item {
    width: 100%;
    flex-basis: 100px;
    flex-grow: 1;
  }
  
  .green {
    background-color: green;
    order:1;
  }
  
  .yellow {
    background-color: yellow;
    flex-grow: 2;
    order: 3;
  }
  
  .purple {
    background-color: purple;
    order:2;
  }